/* Style for the container of the table */
.new-admincards {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px; /* Adjust the maximum width as needed */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the table */
.table {
  width: 100%;
  margin-bottom: 0;
}

.table th,
.table td {
  vertical-align: middle;
  padding: 8px 12px;
  text-align: left;
}

.table th {
  background-color: #f5f5f5;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table-hover tbody tr:hover {
  background-color: #e9ecef;
}

/* Style for links in the table */
.table a {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

/* Style for tooltips */
.tooltip {
  opacity: 1 !important;
}

/* CSS for the profile image container */
.profile-image-container {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-bottom: 20px; /* Add margin for spacing */
  padding: 20px; /* Add padding around the image container */
}

/* CSS for the circular profile image */
.new-profile-image {
  height: 50%;
  width: 50%;
  border-radius: 50%; /* Makes the image circular */
  margin: 0 auto; /* Center the image horizontally within its container */
}
